<div class="m-3">
  <h2 class="text-center">FAQ</h2>
  <a
    class="flex align-items-center cursor-pointer link-question"
    *ngFor="let faq of faqs"
    (click)="srcrollInto(toSlug(faq.question))"
  >
    <span class="pi pi-arrow-right mr-2"></span>
    <h4 [innerText]="faq.question"></h4>
  </a>
  <div>
    <p-panel
      class="m-2 question"
      header="Header"
      [header]="faq.question"
      *ngFor="let faq of faqs"
      [id]="toSlug(faq.question)"
    >
      <p [innerText]="faq.answer"></p>
    </p-panel>
  </div>
</div>
