.menu-link {
    text-decoration: none;
}

.menu-link:hover {
    color: #E8BE28 !important;
}

.override-p-home {
    max-width: 100% !important;
    margin-top: 0.2rem !important;
}

.divider-no-margin {
    margin: 0rem;
}

.footer-logo {
    height: 20rem;
    width: 30rem;
    margin-left: 3rem;
}