.menu-link {
    text-decoration: none;
}

.menu-link:hover {
    color: #4BC714 !important;
}

.override-p-home {
    max-width: 100% !important;
    margin-top: 0.2rem !important;
}

.divider-no-margin {
    margin: 0rem;
}

.footer-logo {
    height: 20rem;
    width: 30rem;
    margin-left: 3rem;
}

.agrid-text {
    color: #4BC714;
    font-weight: bold;
}

.img-border-radius {
    border-radius: 3rem;
}

.img-border-radius-round {
    border-radius: 50%;
}


.p-button {
    background-color: #4BC714;
}
.p-button-text {
    background-color: transparent;
}