<p-card styleClass="mt-2 mx-2">
  <p-carousel
    *ngIf="plans$ | async as plans; else loading"
    [value]="plans"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    styleClass="mt-2"
  >
    <ng-template let-plan pTemplate="item">
      <div class="plan-item select-none" (click)="selectPlan(plan)">
        <div
          class="plan-item-content flex flex-column"
          [class]="{ active: plan?.id === (subscribeState$ | async)?.planId }"
        >
          <div class="m-auto">
            <div class="font-semibold">{{ plan.name }}</div>
            <small>{{ plan.price / 100 }} € par mois</small>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  <div class="flex flex-row">
    <a [routerLink]="['/showcase']" class="m-auto text-green-600 no-underline"
      >En savoir plus</a
    >
  </div>
</p-card>

<ng-template #loading>
  <div class="flex w-100">
    <workspace-progress-spinner class="w-100 m-auto">
    </workspace-progress-spinner>
  </div>
</ng-template>
