<div
  class="flex flex-column align-items-center p-2"
  *ngIf="this.pageLoaded < 4"
>
  <workspace-progress-spinner class="w-100 m-auto">
  </workspace-progress-spinner>
</div>
<div
  class="flex flex-column align-items-center p-2"
  *ngIf="this.pageLoaded > 3"
>
  <p-tabMenu
    #menuItems
    [model]="steps"
    [activeItem]="activeStep"
    (click)="activateMenu()"
  ></p-tabMenu>
  <div class="flex mt-1 w-full justify-content-center">
    <p-chart
      class="flex-1"
      type="line"
      [data]="userChart"
      [responsive]="true"
    ></p-chart>
    <p-divider layout="vertical"></p-divider>
    <p-chart
      class="flex-1"
      type="line"
      [data]="subscriptionChart"
      [responsive]="true"
    ></p-chart>
  </div>
  <p-divider class="w-full"></p-divider>
  <div class="flex mt-1 w-full justify-content-center">
    <p-chart
      class="w-6 flex-1"
      type="line"
      [data]="salesChart"
      [responsive]="true"
    ></p-chart>
    <p-divider layout="vertical"></p-divider>
    <div
      *ngIf="countUserOnCurrentMonth"
      class="w-6 flex-1 text-center flex justify-content-center align-items-center flex-column"
    >
      <h2>Nouveaux visiteurs pour le mois courant :</h2>
      <h1
        [innerText]="countUserOnCurrentMonth.number"
        style="color: var(--primary-color)"
      ></h1>
    </div>
  </div>
  <p-divider class="w-full"></p-divider>
  <h3>Liste des utilisateurs :</h3>

  <p-table
    [value]="users"
    dataKey="id"
    responsiveLayout="scroll"
    editMode="row"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Adresse mail</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-user
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="user">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="user.lastname" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.lastname }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="user.firstname" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ user.firstname }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>{{ user.email }}</td>
        <td style="text-align: center">
          <button
            *ngIf="!editing"
            pButton
            pRipple
            type="button"
            pInitEditableRow
            icon="pi pi-pencil"
            (click)="onRowEditInit(user)"
            class="p-button-rounded p-button-text"
          ></button>
          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pSaveEditableRow
            icon="pi pi-check"
            (click)="onRowEditSave(user)"
            class="p-button-rounded p-button-text p-button-success mr-2"
          ></button>
          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pCancelEditableRow
            icon="pi pi-times"
            (click)="onRowEditCancel(user, ri)"
            class="p-button-rounded p-button-text p-button-danger"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
